<a href="https://colab.research.google.com/github/georgejordan3/IBM_Capstone/blob/main/Segmenting_and_Clustering_Neighborhoods_in_Toronto_pt1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Segmenting and Clustering Neighboorhoods in Toronto

George Jordan <br>
IBM Applied Data Science Capstone <br>
Last Updated: 2-21-21 <br>

This notebook will demonstrate the methods I used to scrape a wikipedia article for data to be implemented into a localized pandas dataframe.

## Scraping and Creating the Dataframe

First, I will import the libraries necessary for scraping the URL.

In [2]:
import pandas as pd
import requests

Using pandas, I imported the table into a dataframe and displayed the first five rows to ensure that it was made properly.

In [81]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

I removed any row that had an unassigned Borough. After that, I checked the size of the dataframe before and after the removal of rows.

In [82]:
df1 = df[df.Borough != "Not assigned"]
print(df.shape)
print(df1.shape)

(180, 3)
(103, 3)

Next, we will combine Boroughs that share a zip code so that we only have one row per zipcode.

In [86]:
combined = df1.groupby(['Postal Code','Borough'], as_index=False).agg(lambda x: ','.join(x))
combined.head()

  Postal Code      Borough                           Neighbourhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

For every row that has a named Borough but an unnamed Neighbourhood, I made the name of the Neighbourhood correspond with the Borough.

In [88]:
empty = combined['Neighbourhood'] == "Not assigned"
combined.loc[empty, 'Neighbourhood'] = combined.loc[empty, 'Borough']

In [89]:
combined.shape

(103, 3)

This concludes the first notebook for this assignment.